In [3]:
import pandas as pd
from pandas import Series, DataFrame

filename = '../data/cities.json'
df = pd.read_json(filename)
df

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8%,40.712784,-74.005941,8405837,1,New York
1,Los Angeles,4.8%,34.052234,-118.243685,3884307,2,California
2,Chicago,-6.1%,41.878114,-87.629798,2718782,3,Illinois
3,Houston,11.0%,29.760427,-95.369803,2195914,4,Texas
4,Philadelphia,2.6%,39.952584,-75.165222,1553165,5,Pennsylvania
...,...,...,...,...,...,...,...
995,Weslaco,28.8%,26.159519,-97.990837,37093,996,Texas
996,Keizer,14.4%,44.990119,-123.026208,37064,997,Oregon
997,Spanish Fork,78.1%,40.114955,-111.654923,36956,998,Utah
998,Beloit,2.9%,42.508348,-89.031776,36888,999,Wisconsin
999,Panama City,0.1%,30.158813,-85.660206,36877,1000,Florida

### Beyond 1
Convert the growth_from_2000_to_2013 column into a floating-point number. Then find the mean and median changes in city size between 2000 and 2013.

In [12]:
# Remove trailing %
df['growth_from_2000_to_2013'] = df['growth_from_2000_to_2013'].str.rstrip('%')
df

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8,40.712784,-74.005941,8405837,1,New York
1,Los Angeles,4.8,34.052234,-118.243685,3884307,2,California
2,Chicago,-6.1,41.878114,-87.629798,2718782,3,Illinois
3,Houston,11.0,29.760427,-95.369803,2195914,4,Texas
4,Philadelphia,2.6,39.952584,-75.165222,1553165,5,Pennsylvania
...,...,...,...,...,...,...,...
995,Weslaco,28.8,26.159519,-97.990837,37093,996,Texas
996,Keizer,14.4,44.990119,-123.026208,37064,997,Oregon
997,Spanish Fork,78.1,40.114955,-111.654923,36956,998,Utah
998,Beloit,2.9,42.508348,-89.031776,36888,999,Wisconsin
999,Panama City,0.1,30.158813,-85.660206,36877,1000,Florida

In [13]:
# Find empty strings, and turn to 0
df.loc[df['growth_from_2000_to_2013'] == '', 'growth_from_2000_to_2013'] = '0'
df

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8,40.712784,-74.005941,8405837,1,New York
1,Los Angeles,4.8,34.052234,-118.243685,3884307,2,California
2,Chicago,-6.1,41.878114,-87.629798,2718782,3,Illinois
3,Houston,11.0,29.760427,-95.369803,2195914,4,Texas
4,Philadelphia,2.6,39.952584,-75.165222,1553165,5,Pennsylvania
...,...,...,...,...,...,...,...
995,Weslaco,28.8,26.159519,-97.990837,37093,996,Texas
996,Keizer,14.4,44.990119,-123.026208,37064,997,Oregon
997,Spanish Fork,78.1,40.114955,-111.654923,36956,998,Utah
998,Beloit,2.9,42.508348,-89.031776,36888,999,Wisconsin
999,Panama City,0.1,30.158813,-85.660206,36877,1000,Florida

In [19]:
# Turn to float, return mean + median
df['growth_from_2000_to_2013'] = df['growth_from_2000_to_2013'].astype(float)
df['growth_from_2000_to_2013'].describe()[['mean', '50%']]

mean    23.074447
50%      9.750000
Name: growth_from_2000_to_2013, dtype: float64

### Beyond 2
How many cities had positive growth in this period, and how many had negative growth?

In [20]:
pd.cut(df['growth_from_2000_to_2013'],
        bins=[df['growth_from_2000_to_2013'].min(), 0, df['growth_from_2000_to_2013'].max()],
        include_lowest=True,
        labels=['-', '+']).value_counts()

growth_from_2000_to_2013
+    847
-    147
Name: count, dtype: int64

### Beyond 3
Find the cities that whose latitude is more than two standard deviations away from the mean.

In [21]:
df[(df['latitude'] > df['latitude'].mean() + 2*df['latitude'].std()) |
   (df['latitude'] < df['latitude'].mean() - 2*df['latitude'].std()) ]

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
43,Miami,14.9,25.761680,-80.191790,417650,44,Florida
53,Honolulu,-6.2,21.306944,-157.858333,347884,54,Hawaii
62,Anchorage,15.4,61.218056,-149.900278,300950,63,Alaska
88,Hialeah,3.2,25.857596,-80.278106,233394,89,Florida
130,Brownsville,26.8,25.901747,-97.497484,181860,131,Texas
138,Fort Lauderdale,0.7,26.122439,-80.137317,172389,139,Florida
145,Cape Coral,60.4,26.562854,-81.949533,165831,146,Florida
149,Pembroke Pines,17.4,26.007765,-80.296256,162329,150,Florida
173,Hollywood,4.8,26.011201,-80.149490,146526,174,Florida
187,McAllen,27.6,26.203407,-98.230012,136639,188,Texas
195,Miramar,74.7,25.986076,-80.303560,130288,196,Florida
207,Coral Springs,5.7,26.271192,-80.270604,126604,208,Florida
242,Miami Gardens,10.5,25.942038,-80.245604,111378,243,Florida
268,Everett,9.4,47.978985,-122.202079,105370,269,Washington
275,Pompano Beach,4.0,26.237860,-80.124767,104410,276,Florida
279,West Palm Beach,23.5,26.715342,-80.053375,102436,280,Florida
306,Davie,17.7,26.076478,-80.252116,96830,307,Florida
335,Miami Beach,3.3,25.790654,-80.130045,91026,336,Florida
339,Plantation,8.6,26.127586,-80.233104,90268,340,Florida
341,Sunrise,4.6,26.166971,-80.256595,90116,342,Florida
344,Boca Raton,7.5,26.368306,-80.128932,89407,345,Florida
389,Bellingham,21.8,48.749080,-122.478147,82631,390,Washington
400,Mission,74.5,26.215907,-98.325293,81050,401,Texas
403,Edinburg,65.1,26.301737,-98.163343,80836,404,Texas
421,Deerfield Beach,4.8,26.318412,-80.099766,78041,422,Florida
454,Pharr,55.7,26.194796,-98.183622,73790,455,Texas
473,Boynton Beach,17.3,26.531787,-80.090547,71097,474,Florida
487,Lauderhill,4.2,26.140363,-80.213381,69813,488,Florida
496,Weston,34.5,26.100365,-80.399775,68388,497,Florida
500,Fort Myers,31.2,26.640628,-81.872308,68190,501,Florida
526,Harlingen,11.6,26.190631,-97.696103,65665,527,Texas
541,Homestead,100.7,25.468722,-80.477557,64079,542,Florida
543,Delray Beach,6.1,26.461462,-80.072820,64072,543,Florida
551,Marysville,115.7,48.051764,-122.177082,63269,552,Washington
552,Tamarac,12.9,26.212861,-80.249771,63155,553,Florida
579,North Miami,2.0,25.890095,-80.186714,61007,580,Florida
587,Wellington,55.0,26.661763,-80.268357,60202,588,Florida
635,Coconut Creek,28.4,26.251748,-80.178935,56792,636,Florida
655,Margate,2.7,26.244526,-80.206436,55456,656,Florida
664,Grand Forks,11.5,47.925257,-97.032855,54932,665,North Dakota
737,Doral,137.6,25.819542,-80.355330,50213,738,Florida
751,Coral Gables,16.1,25.721490,-80.268384,49631,752,Florida
786,Bonita Springs,43.8,26.339806,-81.778697,47547,787,Florida
802,Minot,26.6,48.232967,-101.292291,46321,803,North Dakota
847,Cutler Bay,42.9,25.580832,-80.346859,43328,848,Florida
848,Oakland Park,2.7,26.172307,-80.131989,43286,849,Florida
849,North Miami Beach,3.6,25.933149,-80.162546,43250,850,Florida
863,North Lauderdale,10.8,26.217305,-80.225881,42757,864,Florida
954,Greenacres,35.5,26.627628,-80.135390,38696,955,Florida
956,Hallandale Beach,12.4,25.981202,-80.148379,38632,957,Florida
990,Aventura,47.2,25.956481,-80.139212,37199,991,Florida
995,Weslaco,28.8,26.159519,-97.990837,37093,996,Texas